<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
    <title>Login page</title>
  </head>
  <body class="container">
    <header><%- include('../partials/header'); %></header>
    <h1>Login</h1>
    <main>
      <form action="/welcome" method="post">
        <label for="username"> Username
            <input type="text" name="username" id="username">
        </label>
        <input type="submit" value="Login" />
      </form>
    </main>
  </body>
</html>