<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
    <title>Welcome In</title>
  </head>
  <body class="container">
    <header><%- include('../partials/header'); %></header>
    <h1>OWO</h1>
    <h2>download a image of a bunny</h2>
    <main>
      <div class="img-card">
        <img src="/husband-builds-home-baby-bunnies.jpg" alt="bunny" />
        <a href="http://localhost:3000/download"> download </a>
      </div>
    </main>
  </body>
</html>
